apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: whale-ingress-a
spec:
    replicas: 1
    template:
        metadata:
            name: whale-ingress-a
            labels:
                app: whale-ingress-a
        spec:
            containers:
            - name: hellowhale
              image: shqhbrap65.cabelas.corp/hellowhale-testing/hellowhale:$BUILDNUMBER
              ports:
              - containerPort: 80
